<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Emission Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Utility</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills; index as i">
            <td>{{ bill.id }}</td>
            <td>{{ bill.price }}</td>
            <td>{{ bill.emissionDate }}</td>
            <td>{{ bill.dueDate }}</td>
            <td>{{ utilities[i].name }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <a routerLink="/payment" class="btn btn-info">Pay Bills</a>
      </div>
    </div>
  </div>
